*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: monospace;
}

:root {
  --purple: #501f3a;
  --pink: #cb2d6f;
  --gray: #ccc;
  --green: #14a098;
  --dark: #0f292f;
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
}

.container {
  width: 600px;
  max-width: 80%;
  background-color: var(--gray);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

#right-answers {
  text-align: right;
  padding: 5px 20px 40px 0px;
  color: var(--pink);
  font-size: 2.5rem;
}

#timer {
  text-align: right;
  color: var(--green);
  margin-right: 20px;
  font-size: 2.5rem;
}

#question {
  padding: 0 20px 40px 20px;
  font-size: 3rem;
}

#endMessage {
  text-align: center;
  color: black;
  font-size: 5rem;
}

#score {
  text-align: center;
  color: black;
  padding-bottom: 50px;
  font-size: 3rem;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  color: white;
  border: 2px solid black;
  background-color: var(--purple);
  border-radius: 5px;
  padding: 15px 5px;
  outline: none;
  font-size: 2rem;
}

.btn:hover {
  border-color: var(--green);
  cursor: pointer;
}

.btn.correct {
  background-color: var(--green);
}

.btn.wrong {
  background-color: var(--pink);
}

.start-btn {
  font-size: 3rem;
  padding: 10px 60px;
  border: black;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
